.container-card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 204px;
    margin: 1em;
    max-width: 340px;
    border-radius: 39px;
    transition: background-image 1s ease;
}