@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tilt+Prism&display=swap');

.container-error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    color: #fff;

    & .error{
        font-family: 'Pacifico', cursive;
        font-size: 5em;
    }

    & .not-found{
        font-family: 'Pacifico', cursive;
        font-size: 2em;
    }
}